header .site-name, header .site-description, header .site-tagline {
    color: #CC9966;
}

.site {
}

.fxd-header .site-nav > ul > li > a {
    font-size: 14px;
}

.top-bar {
    display: block;
}

.site-nav > ul > li > a {
    padding-top: 0px
}

.site-nav > ul > li > a {
    padding-bottom: 0px
}

.post-inner, .page-inner {
    padding-top: 55px;
}

.post-inner, .page-inner {
    padding-bottom: 40px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    margin-top: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    margin-bottom: 20px;
}

section.home-section-1 .section-title {
    text-align: center;
}

section.home-section-1 .section-title {
    font-size: 48px;
    font-weight: normal;
    color: #666666;
}

section.home-section-2 .section-title {
    text-align: center;
}

section.home-section-2 .section-title {
    font-size: 48px;
    font-weight: normal;
    color: #666666;
}

section.home-section-3 .section-title {
    text-align: center;
}

section.home-section-3 .section-title {
    font-size: 48px;
    font-weight: normal;
    color: #666666;
}

section.home-section-4 .section-title {
    text-align: center;
}

section.home-section-4 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
}

section.home-section-5 .section-title {
    text-align: center;
}

section.home-section-5 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
}

section.home-section-6 .section-title {
    text-align: center;
}

section.home-section-6 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

section.home-section-7 .section-title {
    text-align: center;
}

section.home-section-7 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

section.home-section-8 .section-title {
    text-align: center;
}

section.home-section-8 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
}

section.home-section-9 .section-title {
    text-align: center;
}

section.home-section-9 .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
}

section.home-section-10 .section-title {
    text-align: center;
}

section.home-section-10 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-11 .section-title {
    text-align: center;
}

section.home-section-11 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-12 .section-title {
    text-align: center;
}

section.home-section-12 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-13 .section-title {
    text-align: center;
}

section.home-section-13 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-14 .section-title {
    text-align: center;
}

section.home-section-14 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-15 .section-title {
    text-align: center;
}

section.home-section-15 .section-title {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-1 .home-section-content, section.home-section-1 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-1 .home-section-content {
    text-align: center
}

section.home-section-1 {
    background: url(http://178.62.117.50:8003/html/wordpress/wp-content/themes/onetone/images/home-bg01.jpg) repeat top left scroll;
}

section.home-section-2 .home-section-content, section.home-section-2 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-2 .home-section-content {
    text-align: left
}

section.home-section-2 {
    padding: 30px 0;
    background-color: #eeeeee;
}

section.home-section-3 .home-section-content, section.home-section-3 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-3 .home-section-content {
    text-align: center
}

section.home-section-3 {
    padding: 50px 0;
    background-color: #ffffff;
}

section.home-section-4 .home-section-content, section.home-section-4 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-4 .home-section-content {
    text-align: center
}

section.home-section-4 {
    padding: 50px 0;
    background-color: #eeeeee;
}

section.home-section-5 .home-section-content, section.home-section-5 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-5 .home-section-content {
    text-align: center
}

section.home-section-5 {
    padding: 50px 0;
    background-color: #ffffff;
}

section.home-section-6 .home-section-content, section.home-section-6 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

section.home-section-6 .home-section-content {
    text-align: left
}

section.home-section-6 {
    padding: 50px 0;
    background: url(http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/banner_large.jpg) repeat top left scroll;
}

section.home-section-7 .home-section-content, section.home-section-7 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

section.home-section-7 .home-section-content {
    text-align: center
}

section.home-section-7 {
    padding: 10px 0 50px;
    background: url(http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/123.jpg) no-repeat bottom center scroll;
    background-color: #eda869;
}

section.home-section-8 .home-section-content, section.home-section-8 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-8 .home-section-content {
    text-align: left
}

section.home-section-8 {
    padding: 50px 0;
    background-color: #ffffff;
}

section.home-section-9 .home-section-content, section.home-section-9 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-9 .home-section-content {
    text-align: center
}

section.home-section-9 {
    padding: 50px 0;
    background: url(http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/last4.jpg) repeat top left scroll;
}

section.home-section-10 .home-section-content, section.home-section-10 .home-section-content p {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}

section.home-section-10 {
}

section.home-section-11 .home-section-content, section.home-section-11 .home-section-content p {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-11 {
}

section.home-section-12 .home-section-content, section.home-section-12 .home-section-content p {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-12 {
}

section.home-section-13 .home-section-content, section.home-section-13 .home-section-content p {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-13 {
}

section.home-section-14 .home-section-content, section.home-section-14 .home-section-content p {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-14 {
}

section.home-section-15 .home-section-content, section.home-section-15 .home-section-content p {
    font-size: 36px;
    font-weight: normal;
    color: #666666;
}

section.home-section-15 {
}

body {
    margin: 0px;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

/*GROW*/
.grow img {
    width: 100%;
    height: 100%;
    vertical-align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.grow img:hover {
    width: 95%;
    height: 95%;
}

.shop-item {
    min-height: 348px;
    margin-bottom: 0px;
}

.grid {
    padding: 0 0;
}

.grid figure {
    max-height: 180px;
}

.modal-dialog {
    width: 750px;
}

.fxd-header {
    z-index: 1000;
}

.grid figure figcaption > a {
    z-index: 500;
}

/*
 | ------------------------------------------
 | Glide styles
 | ------------------------------------------
 | Here are slider styles
 |
*/

.modal-slider {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.slides {
    height: 100%;

    /* Simple clear fix */
    overflow: hidden;

    /**
     * Prevent blinking issue
     * Not tested. Experimental.
     */
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;

    /**
     * Here is CSS transitions
     * responsible for slider animation in modern broswers
     */
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.slide {
    height: 100%;
    float: left;
    clear: none;
}

.slider-arrows {
}

.slider-arrow {
    position: absolute;
    display: block;

    width: 29px;
    height: 29px;
    cursor: pointer;
}

.slider-arrow--right {

    background: url(../images/slider_controls.png) no-repeat -29px 0;
    bottom: 50%;
    right: 30px;
}

.slider-arrow--left {

    background: url(../images/slider_controls.png) no-repeat 0 0;
    bottom: 50%;
    left: 30px;
}

.slider-nav {
    position: absolute;
    bottom: 30px;
}

.slider-nav__item {
    width: 12px;
    height: 12px;
    float: left;
    clear: none;
    display: block;
    margin: 0 5px;
    background: #fff;
}

.slider-nav__item:hover {
    background: #ccc;
}

.slider-nav__item--current {
    background: #ccc;
}

.catalog-buttons {
    text-align: center;
}

.btn-cat {
    min-width: 200px;
}

.catalog-item {
    color: red;
}

.catalog-value {
    color: black;
}

.navbar-form {
    margin-top: 18px;
}

.navbar-form .form-control {
    width: 340px;
}

ul, ol {
    list-style: outside none none;
    margin: 0 0 0 0;
}

.search-res {
    color: red;
}

.search-res-title {
    text-align: center;
    margin: -10px 0 20px;
}

textarea {
    resize: none; /* Запрещаем изменять размер */
}

.contact-title {
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3),
    10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.footer-info-area {
    padding: 15px 0 0;
}

/** {*/
/*box-sizing: border-box;*/
/*}*/

.global-container-feedback {
    margin: 120px;
    position: fixed;
    width: 360px;
    display: block;
    margin-left: -320px;
    overflow: hidden;
    padding-bottom: 0;
    height: 580px;
    -webkit-transition: margin-left 1s ease-out;
    transition: margin-left 0.5s ease-out;
    z-index: 600;
}

/*.global-container-feedback:hover {*/
/*margin-left: 0px;*/
/*}*/

div.container-feedback {
    width: 320px;
    height: 580px;
    border: 1px solid #f5f5f5;
    display: block;
    position: relative;
    background-color: #f5f5f5;
}

div.fb-feedback {
    width: 40px;
    height: 220px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 0px 20px 20px 0px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}

span.feedback {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 165px;
    position: relative;
    font-family: times;
    left: -65px;
    top: 90px;
}

div.img-feedback {
    position: relative;
    margin: 10px;
    z-index: 10;
}

div.img-feedback img {
    float: left;
}

p.feedback-text {
    float: left;
    font-family: times;
    font-size: 13pt;
    line-height: 1.2em;
    width: 205px;
    overflow: hidden;
    padding: 0px 0px 0 10px;
    position: relative;
    margin-bottom: 5px;
}

.feedback-form {
    padding-left: 10px;
}

.toast-container {
    width: 280px;
    z-index: 9999;
}

* html .toast-container {
    position: absolute;
}

.toast-item {
    height: auto;
    background: #333;
    opacity: 0.9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: lucida Grande;
    font-size: 14px;
    border: 2px solid #999;
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    border-radius: 15px;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background: url(../images/close.gif);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.toast-item-image {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

.toast-item-image-notice {
    background: url(../images/notice.png);
}

.toast-item-image-success {
    background: url(../images/success.png);
}

.toast-item-image-warning {
    background: url(../images/warning.png);
}

.toast-item-image-error {
    background: url(../images/error.png);
}

/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    color: white;
    font-size: 1.2em;
}

.toast-type-success {
    color: white;
    background-color: #5cb85c;
    font-size: 1.2em;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
    font-size: 1.2em;
}

.toast-type-error {
    color: white;
    background-color: #B32B2B;
    font-size: 1.2em;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.vk-text {

    padding-left: 5px;
    color: #0a568c;
}
.fa-whatsapp{
    color:#43d854;
}

.viber{
    color: #8f5db7;
}
.contact_image{
    height: 50px;
}
.logo-box{
    max-width: 15%;
}