{% for item in filters_list %}
    <div class="col-md-3 col-sm-6">
        <div class="shop-item grid">
            <figure class="effect-chico">
                <a data-toggle="modal" data-target="#myModalFilter">
                    <img src="{{ item.imagesfilters_set.all.0.image_url }}" alt="{{ item.name }}"/>
                </a>
                <figcaption>
                    {#                            <h2>Nice <span>Lily</span></h2>#}
                    <p>Просмотреть описание</p>
                    <a class="filter-detail" id="{{ item.id }}" data-toggle="modal" data-target="#myModalFilter">View
                        more</a>
                </figcaption>
            </figure>
            <div class="title">
                <h3>
                    <span class="catalog-item">Наименование: </span>
                    <span class="catalog-value">{{ item.name }}</span>
                </h3>
                <h3>
                    <span class="catalog-item">Кат. номер:  </span>
                    <span class="catalog-value">{{ item.cat_num }}</span>
                </h3>
            </div>
            <div class="price">
                {{ item.price }} руб.
            </div>
        </div>
    </div>
{% endfor %}

<div class="modal" id="myModalFilter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </button>
                <div class="modal-name">
                </div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть окно</button>
            </div>
        </div>
    </div>
</div>