<section id="home" class="section homepage-slider onetone-home">
    <div id="onetone-owl-slider" class="owl-carousel owl-theme">

        {% for item in slider %}
            <div class="item">
                <img src="{{ item.image.url }}" alt="">
                <div class="inner">
                    {% if contacts %}
                        {% for contact in contacts %}
                            {% if item.phone %}
                                <h1> {{ contact.person_phone }}</h1>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h1>{{ item.large_comment }}</h1>
                    <h3>{{ item.small_comment }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</section>