{% load crispy_forms_tags %}

<div class="global-container-feedback hidden-sm">
    <div class="container-feedback">
        <p class="feedback-text">
            Наш телефон:
        </p>
        <p class="feedback-text">
            {% if contacts %}
                {% for contact in contacts %}
                    <span> {{ contact.person_phone }}</span>
                {% endfor %}
            {% endif %}
        </p>
        <p class="feedback-text">
            Время работы:
        </p>
        <p class="feedback-text">
            Ежедневно 8:00 - 20:00
        </p>
        <div class="feedback-form">
            <form class="sky-form contact-style add-order-form" id="add-order-form" method="post" action="{% url 'send_order' %}">
                <div class="fieldWrapper row sky-space-20">
                    <div class="col-md-11 col-md-offset-0">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success contact_btn" type="submit">
                            Отправить сообщение
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <p class="feedback-text">
        * - Поля обязательные для заполнения
    </p>
    </div>
    <div class="fb-feedback"><span class="feedback">Отправить заявку</span></div>
</div>