{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    PartsMallSpb - Главная
{% endblock %}


{% block content %}

    <div class="post-wrap">
        <div class="container-fullwidth">
            <div class="page-inner row no-aside" style="padding-top: 0; padding-bottom: 0;">
                <div class="col-main">
                    <section class="post-main" role="main" id="content">
                        <article class="page type-page homepage" id="">

                            {% include 'slider.html' %}

                            {#                            {% include 'feedback.html' %}#}

                            <section id="section-2" class="home-section-2 ">
                                <div class="home-container container page_container">
                                    <div>

                                        <div class="magee-animated" data-animationduration="0.9"
                                             data-animationtype="fadeInRight" data-imageanimation="no" id="">
                                            <div>
                                                <div class="magee-promo-box">
                                                    <h1 class="text-center">Отправьте заявку сейчас и получите
                                                        бесплатную доставку в подарок!</h1>
                                                    <h4 class="text-center">До окончания акции осталось:</h4>
                                                    <div id="countdown" class="countdownHolder">
                                                    </div>
                                                    <div class="text-center">
                                                        <a href="#contact"
                                                           class="btn btn-success btn-lg">Отправить заявку!</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </section>


                            <!------------------------------------------------------Services--------------------------------------------------------->


                            <section id="services" class="home-section-3 ">
                                <div class="home-container container page_container">
                                    <div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-car"></i></div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>
                                                                Профессиональная консультация и помощь в подборе
                                                                запчастей.
                                                            </p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-truck"></i>
                                                        </div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>
                                                                Доставка по городу Санкт-Петербург.
                                                            </p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-star-o"></i></div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>
                                                                Гибкая система поиска запасных частей по желанию
                                                                заказчика.
                                                            </p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-thumbs-o-up"></i>
                                                        </div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>Комплекты для ТО в наличии и на заказ</p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-shopping-cart"></i>
                                                        </div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>Большой выбор оригинальных запасных частей и
                                                                заменителей.</p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="zoomIn" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="icon-box" data-animation=""><i
                                                                class="feature-box-icon fa fa-money"></i></div>
                                                        <h3>PARTSMALLSPB ЭТО</h3>
                                                        <div class="feature-content">
                                                            <p>Доступные цены на оригинальные запчасти.</p>
                                                            <a href="" target="_blank" class="feature-link"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </section>


                            <!------------------------------------------------------Gallery--------------------------------------------------------->

                            <section id="gallery" class="home-section-4 ">
                                <div class="home-container container page_container">
                                    <div>

                                        <h1 class="section-title ">ГАЛЕРЕЯ</h1>
                                        <div class="section-subtitle">Наша команда поможет вам с поиском и подбором
                                            запасных частей на автомобили большинства импортных марок
                                        </div>

                                        <div class="row no-padding no-margin">
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/1.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/2.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInDown" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/3.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInDown" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/4.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/19.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no"
                                                     id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/6.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/8.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/9.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/10.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no"
                                                     id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/11.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no"
                                                     id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/12.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no"
                                                     id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/7.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/13.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInLeft" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/14.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInUp" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/15.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInUp" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/16.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no" id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/17.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <div class="magee-animated" data-animationduration="0.9"
                                                     data-animationtype="fadeInRight" data-imageanimation="no"
                                                     id="">
                                                    <div class="magee-feature-box style1" id=""
                                                         data-os-animation="fadeOut">
                                                        <div class="img-frame rounded">
                                                            <div class="img-box figcaption-middle text-center fade-in">
                                                                <img src="{% static 'images/pictures/18.png' %}"
                                                                     alt="" class="feature-img "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </section>

                            <div class="well well-sm quick-contact">
                                <div class="row" id="contact">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 text-center">
                                                <h1 class="title-contact">
                                                    Наши контакты:</h1>
                                            </div>

                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/1470349557_vk2.png' %}">
                                                    <span class="">Группа Вконтакте:</span>
                                                    <a href="https://vk.com/partsmallspb"
                                                       class="vk-text">partsmallspb</a>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/teleg_12341.png' %}">
                                                    <span class="">Telegram: 8(953)340-28-09</span>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/1470349471_mail.png' %}">
                                                    <span class="">E-mail: search@partsmallspb.ru</span>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/1470350835_3.png' %}">
                                                    <a class="hidden-lg hidden-md" href="tel:8(953)3402809">Телефон: 8(953)340-28-09</a>
                                                    <span class="hidden-sm">Телефон: 8(953)340-28-09</span>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/1470349506_whatsapp.png' %}">
                                                    <span class="">Whatsapp: 8(953)340-28-09</span>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center">
                                                <h2>
                                                    <img class="contact_image" src="{% static 'images/1470349526_viber.png' %}">
                                                    <span class="">Viber: 8(953)340-28-09</span>

                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!------------------------------------------------------Отзывы--------------------------------------------------------->


                            {#                                <section id="testimonials" class="home-section-7 ">#}
                            {#                                    <div class="home-container container page_container">#}
                            {#                                        <div>#}
                            {##}
                            {#                                            <h1 class="section-title ">TESTIMONIALS</h1>#}
                            {#                                            <div class="section-subtitle">Vestibulum ante ipsum primis in faucibus orci#}
                            {#                                                luctus et ultrices posuere c.Etiam ut dui eu nisi lobortis rhoncus ac#}
                            {#                                                quis nunc.#}
                            {#                                            </div>#}
                            {##}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="clear"></div>#}
                            {#                                </section>#}
                            {#                                <section id="section-8" class="home-section-8 ">#}
                            {#                                    <div class="home-container container page_container">#}
                            {#                                        <div>#}
                            {##}
                            {#                                            <div class="row">#}
                            {#                                                <div class="col-md-4">#}
                            {#                                                    <div class="magee-animated" data-animationduration="0.9"#}
                            {#                                                         data-animationtype="fadeInUp" data-imageanimation="no">#}
                            {#                                                        <div class="magee-testimonial-box">#}
                            {#                                                            <div class="testimonial-content">#}
                            {#                                                                <div class="testimonial-quote">Lorem ipsum dolor sit#}
                            {#                                                                    amet, consectetur adipiscing elit. Mauris consequat#}
                            {#                                                                    non ex quis consectetur. Aliquam iaculis dolor erat,#}
                            {#                                                                    ut ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.Lorem ipsum dolor sit amet,#}
                            {#                                                                    consectetur adipiscing elit. Mauris consequat non ex#}
                            {#                                                                    quis consectetur. Aliquam iaculis dolor erat, ut#}
                            {#                                                                    ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                            <div class="testimonial-vcard style1">#}
                            {#                                                                <div class="testimonial-avatar"><img#}
                            {#                                                                        src="http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/111.jpg"#}
                            {#                                                                        class="img-circle"></div>#}
                            {#                                                                <div class="testimonial-author">#}
                            {#                                                                    <h4 class="name" style="text-transform: uppercase;">#}
                            {#                                                                        KEVIN PERRY</h4>#}
                            {#                                                                    <div class="title">Web Developer</div>#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                        </div>#}
                            {#                                                    </div>#}
                            {#                                                </div>#}
                            {#                                                <div class="col-md-4">#}
                            {#                                                    <div class="magee-animated" data-animationduration="0.9"#}
                            {#                                                         data-animationtype="fadeInUp" data-imageanimation="no">#}
                            {#                                                        <div class="magee-testimonial-box">#}
                            {#                                                            <div class="testimonial-content">#}
                            {#                                                                <div class="testimonial-quote">Lorem ipsum dolor sit#}
                            {#                                                                    amet, consectetur adipiscing elit. Mauris consequat#}
                            {#                                                                    non ex quis consectetur. Aliquam iaculis dolor erat,#}
                            {#                                                                    ut ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.Lorem ipsum dolor sit amet,#}
                            {#                                                                    consectetur adipiscing elit. Mauris consequat non ex#}
                            {#                                                                    quis consectetur. Aliquam iaculis dolor erat, ut#}
                            {#                                                                    ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                            <div class="testimonial-vcard style1">#}
                            {#                                                                <div class="testimonial-avatar"><img#}
                            {#                                                                        src="http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/222.jpg"#}
                            {#                                                                        class="img-circle"></div>#}
                            {#                                                                <div class="testimonial-author">#}
                            {#                                                                    <h4 class="name" style="text-transform: uppercase;">#}
                            {#                                                                        KEVIN PERRY</h4>#}
                            {#                                                                    <div class="title">Web Developer</div>#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                        </div>#}
                            {#                                                    </div>#}
                            {#                                                </div>#}
                            {#                                                <div class="col-md-4">#}
                            {#                                                    <div class="magee-animated" data-animationduration="0.9"#}
                            {#                                                         data-animationtype="fadeInUp" data-imageanimation="no">#}
                            {#                                                        <div class="magee-testimonial-box">#}
                            {#                                                            <div class="testimonial-content">#}
                            {#                                                                <div class="testimonial-quote">Lorem ipsum dolor sit#}
                            {#                                                                    amet, consectetur adipiscing elit. Mauris consequat#}
                            {#                                                                    non ex quis consectetur. Aliquam iaculis dolor#}
                            {#                                                                    erat,ut ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.Lorem ipsum dolor sit amet,#}
                            {#                                                                    consectetur adipiscing elit. Mauris consequat non ex#}
                            {#                                                                    quis consectetur. Aliquam iaculis dolor erat, ut#}
                            {#                                                                    ornare dui vulputate nec. Cras a sem mattis,#}
                            {#                                                                    tincidunt urna nec, iaculis nisl. Nam congue#}
                            {#                                                                    ultricies dui.#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                            <div class="testimonial-vcard style1">#}
                            {#                                                                <div class="testimonial-avatar"><img#}
                            {#                                                                        src="http://www.mageewp.com/onetone/wp-content/uploads/sites/17/2015/11/333.jpg"#}
                            {#                                                                        class="img-circle"></div>#}
                            {#                                                                <div class="testimonial-author">#}
                            {#                                                                    <h4 class="name" style="text-transform: uppercase;">#}
                            {#                                                                        KEVIN PERRY</h4>#}
                            {#                                                                    <div class="title">Web Developer</div>#}
                            {#                                                                </div>#}
                            {#                                                            </div>#}
                            {#                                                        </div>#}
                            {#                                                    </div>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="clear"></div>#}
                            {#                                </section>#}


                            <!------------------------------------------------------Contact--------------------------------------------------------->


                            <section class="home-section-9 hidden-md hidden-lg ">
                                <div class="home-container container page_container">
                                    <div>

                                        <h1 class="section-title contact-title">Контакты</h1>
                                        <div class="section-subtitle">
                                            <h3>Здесь вы можете оставить ваш заказ или отправить нам сообщение.</h3>
                                            <h5>Заполнение заявки Вас ни к чему не обязывает. Рассылок и спама не
                                                будет</h5>
                                        </div>


                                        <div class="col-md-9 ">
                                            <form class="sky-form contact-style add-order-form2" id="add-order-form2"
                                                  method="post" action="{% url 'send_order' %}">
                                                <div class="fieldWrapper row sky-space-20">
                                                    <div class="col-md-11 col-md-offset-0">
                                                        {% csrf_token %}
                                                        {{ form|crispy }}
                                                        <button class="btn btn-success contact_btn" type="submit">
                                                            Отправить сообщение
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}