<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button data-dismiss="modal" type="button" class="close">
        <i class="fa fa-close"></i>
    </button>
    <div class="modal-name"><h2 id="myModalLabel modal-name">{{ filter.name }}</h2></div>
</div>
<div class="modal-body">

    <div class="modal-slider">
        <ul class="slides">
            {% for item in filter.imagesfilters_set.all %}
                <li class="slide"><img src="{{ item.image_url }}"></li>
            {% endfor %}
        </ul>
    </div>


    <script>
        jQuery('.modal-slider').glide({
            autoplay: false,
            arrows: true,
            nav: true,
            arrowRightText: '',
            arrowLeftText: ''
        });
    </script>

    <br>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody class="modal-table">
        <tr>
            <td class="">Бренд:</td>
            <td class="">{{ filter.brand }}</td>
        </tr>
        {% if filter.cat_num %}
            <tr>
                <td class="">Оригинальный номер:</td>
                <td class="">{{ filter.cat_num }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="">Применяемость:</td>
            <td class="">{{ filter.applicability }} </td>
        </tr>
        <tr>
            <td class="">Размеры:</td>
            <td class="">{{ filter.size }} </td>
        </tr>
        <tr>
            <td class="">В наличии:</td>
            <td class="">{{ filter.amount }} шт.</td>
        </tr>
        <tr>
            <td class="">Цена:</td>
            <td class="">{{ filter.price }} руб.</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" type="button" class="btn btn-danger">Закрыть окно</button>
</div>

