{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    PartsMallSpb - Товары
{% endblock %}

{% block content %}

    {% include 'slider.html' %}
    <br>

    <div class="container">
    <div class="catalog-buttons">
        <a href="{% url 'catalog' %}" class="btn btn-default btn-cat">Все товары</a>
        <a href="{% url 'catalog_parts' %}" class="btn btn-default btn-cat">Запасные части</a>
        <a href="{% url 'catalog_filters' %}" class="btn btn-default btn-cat">Фильтра</a>
        <a href="{% url 'catalog_oils' %}" class="btn btn-default btn-cat">Масла</a>
    </div>
    <br>
    {% if sr %}
        <h3 class="search-res-title">Результаты поиска по запросу <span class="search-res">{{ sr }}</span></h3>
    {% endif %}
    {% if parts_list %}
        {% include 'parts/part_catalog_item.html' %}
    {% endif %}

    {% if oils_list %}
        {% include 'parts/oil_catalog_item.html' %}
    {% endif %}

    {% if filters_list %}
        {% include 'parts/filter_catalog_item.html' %}
    {% endif %}
    </div>
{% endblock %}