{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru-RU" class="no-js">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    {% include 'head.html' %}

</head>

<body class="home blog page homepage">
<div class="wrapper">

    {% include 'feedback.html' %}

    <div class="top-wrap">

        {% include 'header.html' %}

    </div>

    {% block content %}{% endblock %}

</div>

{% include 'footer.html' %}

</body>
</html>