{% load staticfiles %}


<footer>
    <div class="footer-info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    Designed by <a href="http://www.mageewp.com/">MageeWP Themes</a>.
                </div>
                <div class="col-md-2 col-sm-2">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=37190685&amp;from=informer"
                       target="_blank" rel="nofollow"><img
                            src="https://informer.yandex.ru/informer/37190685/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                            onclick="try{Ya.Metrika.informer({i:this,id:37190685,lang:'ru'});return false}catch(e){}"/></a>
                    <!-- /Yandex.Metrika informer -->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function (d, w, c) {
                            (w[c] = w[c] || []).push(function () {
                                try {
                                    w.yaCounter37190685 = new Ya.Metrika({
                                        id: 37190685,
                                        clickmap: true,
                                        trackLinks: true,
                                        accurateTrackBounce: true
                                    });
                                } catch (e) {
                                }
                            });

                            var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () {
                                        n.parentNode.insertBefore(s, n);
                                    };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = "https://mc.yandex.ru/metrika/watch.js";

                            if (w.opera == "[object Opera]") {
                                d.addEventListener("DOMContentLoaded", f, false);
                            } else {
                                f();
                            }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/37190685" style="position:absolute; left:-9999px;"
                                  alt=""/></div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="javascript:;">
    <div id="back-to-top">
        <span class="fa fa-arrow-up"></span>
        <span>TOP</span>
    </div>
</a>


<script type='text/javascript'>
    /* <![CDATA[ */
    var onetone_params = {
        "slideSpeed": "5000",
        "sticky_header": "yes",
        "isMobile": "0",
        "primary_color": "#eda869"
    };
    /* ]]> */
</script>

<script type='text/javascript' src="{% static 'js/onetone.js' %}"></script>
<script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>