{% url 'main' as main_url %}

<header class="header-wrap logo-left home-header ">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="top-bar-info"></div>
            </div>
            <div class="top-bar-right">
                <div class="top-bar-info"></div>
            </div>
        </div>
    </div>

    <div class="main-header ">
        <div class="container">
            <div class="logo-box hidden-sm">
                <div class="name-box" style=" display:block;">
                    <a href="{% url 'main' %}"><h1 class="site-name">partsmallspb.ru</h1>
                    </a>
                    <span class="site-tagline">Запчасти в Спб</span>
                </div>
            </div>
            <button class="site-nav-toggle">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <nav class="site-nav" role="navigation">
                <ul>
                    {% if request.get_full_path == main_url %}
                        <li class="onetone-menuitem">
                            <form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Введите запрос"/>
                                </div>
                                <button type="submit" class="btn btn-default">Поиск</button>
                            </form>
                        </li>
                        <li class="onetone-menuitem">
                            <a id="onetone-home" href="#home">
                                <span>Главная</span></a>
                        </li>
                        <li class="onetone-menuitem"><a id="onetone-goodslist" href="{% url 'catalog' %}">
                            <span>Товары</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-services" href="#services">
                            <span>Услуги</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-gallery" href="#gallery">
                            <span>Галерея</span></a></li>
{#                        <li class="onetone-menuitem hidden-sm"><a id="onetone-team" href="#about">#}
{#                            <span>О нас</span></a></li>#}
                        {#                        <li class="onetone-menuitem"><a id="onetone-testimonials" href="#testimonials">#}
                        {#                            <span>Отзывы</span></a></li>#}
                        <li class="onetone-menuitem"><a id="onetone-contact" href="#contact">
                            <span>Контакты</span></a></li>
                    {% else %}
                        <li class="onetone-menuitem">
                            <form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Введите запрос"/>
                                </div>
                                <button type="submit" class="btn btn-default">Поиск</button>
                            </form>
                        </li>
                        <li class="onetone-menuitem">
                            <a id="onetone-home" href="{{ main_url }}#home">
                                <span>Главная</span></a></li>
                        <li class="onetone-menuitem"><a id="onetone-goodslist" href="{% url 'catalog' %}">
                            <span>Товары</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-services" href="{{ main_url }}#services">
                            <span>Услуги</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-gallery" href="{{ main_url }}#gallery">
                            <span>Галерея</span></a></li>
{#                        <li class="onetone-menuitem hidden-sm"><a id="onetone-team" href="{{ main_url }}#about">#}
{#                            <span>О нас</span></a></li>#}
                        {#                        <li class="onetone-menuitem"><a id="onetone-testimonials" href="{{ main_url }}#testimonials">#}
                        {#                            <span>Отзывы</span></a></li>#}
                        <li class="onetone-menuitem"><a id="onetone-contact" href="{{ main_url }}#contact">
                            <span>Контакты</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


    <div class="fxd-header">
        <div class="container">
            <div class="logo-box hidden-sm">
                <div class="name-box" style=" display:block;">
                    <a href="{% url 'main' %}"><h1 class="site-name">partsmallspb.ru</h1>
                    </a>
                    <span class="site-tagline">Запчасти в Спб</span>
                </div>

            </div>
            <button class="site-nav-toggle">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <nav class="site-nav" role="navigation">
                <ul>
                    {% if request.get_full_path == main_url %}
                        <li class="onetone-menuitem">
                            <form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Введите запрос"/>
                                </div>
                                <button type="submit" class="btn btn-default">Поиск</button>
                            </form>
                        </li>
                        <li class="onetone-menuitem">
                            <a id="onetone-home" href="#home">
                                <span>Главная</span></a></li>
                        <li class="onetone-menuitem"><a id="onetone-goodslist" href="{% url 'catalog' %}">
                            <span>Товары</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-services" href="#services">
                            <span>Услуги</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-gallery" href="#gallery">
                            <span>Галерея</span></a></li>
{#                        <li class="onetone-menuitem hidden-sm"><a id="onetone-team" href="#about">#}
{#                            <span>О нас</span></a></li>#}
                        {#                        <li class="onetone-menuitem"><a id="onetone-testimonials" href="#testimonials">#}
                        {#                            <span>Отзывы</span></a></li>#}
                        <li class="onetone-menuitem"><a id="onetone-contact" href="#contact">
                            <span>Контакты</span></a></li>
                    {% else %}
                        <li class="onetone-menuitem">
                            <form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Введите запрос"/>
                                </div>
                                <button type="submit" class="btn btn-default">Поиск</button>
                            </form>
                        </li>
                        <li class="onetone-menuitem">
                            <a id="onetone-home" href="{{ main_url }}#home">
                                <span>Главная</span></a></li>
                        <li class="onetone-menuitem"><a id="onetone-goodslist" href="{% url 'catalog' %}">
                            <span>Товары</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-services" href="{{ main_url }}#services">
                            <span>Услуги</span></a></li>
                        <li class="onetone-menuitem hidden-sm"><a id="onetone-gallery" href="{{ main_url }}#gallery">
                            <span>Галерея</span></a></li>
{#                        <li class="onetone-menuitem hidden-sm"><a id="onetone-team" href="{{ main_url }}#about">#}
{#                            <span>О нас</span></a></li>#}
                        {#                        <li class="onetone-menuitem"><a id="onetone-testimonials" href="{{ main_url }}#testimonials">#}
                        {#                            <span>Отзывы</span></a></li>#}
                        <li class="onetone-menuitem"><a id="onetone-contact" href="{{ main_url }}#contact">
                            <span>Контакты</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


</header>