{% load staticfiles %}

<meta charset="UTF-8">
<meta name="google-site-verification" content="7dFCRITTp-pxHpZZFxT155MpogjonYIv_wbtFcUdmqk" />
<META NAME="Description" CONTENT="Запасные части в наличии и на заказ в Спб">
<META NAME="Keywords" CONTENT="Запчасти, Спб, Санкт-Петербург, заказ, иномарки, partsmallspb.ru, partsmallspb, масла, фильтра">
<META NAME="Robots" CONTENT="ALL">
<META NAME="Revisit-After" CONTENT="1 Days">

<link rel='stylesheet' href="{% static 'css/catalog.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'HoverEffectIdeas/css/set1.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'HoverEffectIdeas/css/set2.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/prettyPhoto.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/twentytwenty.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/animate.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/shortcode.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/fonts.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/owl.carousel.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/onetone.css' %}" type='text/css' media=''/>
<link rel='stylesheet' href="{% static 'css/scheme.less' %}" type='text/less' media=''/>
<link rel='stylesheet' href="{% static 'css/home.css' %}" type='text/css' media=''/>
<link rel='stylesheet' href="{% static 'css/css.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/jquery.countdown.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/bootstrap-social.css' %}" type='text/css'/>
<link rel='stylesheet' href="{% static 'css/525icons/fonts/525icons.css' %}" type='text/css'/>

<script type='text/javascript' src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.waypoints.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.nav.js' %}"></script>
<script type='text/javascript' src="{% static 'js/catalog.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.glide.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/magee-shortcodes.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.tubular.1.0.js' %}"></script>
<script type='text/javascript' src="{% static 'js/owl.carousel.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
<script type='text/javascript' src="{% static 'js/respond.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/less.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.countdown.js' %}"></script>
<script type='text/javascript' src="{% static 'js/countdown.js' %}"></script>
<script type='text/javascript' src="{% static 'js/feedback.js' %}"></script>
